.color-p-2 { background-color: #23469F; color: white; }	/* Main Primary color */
.color-p-0 { background-color: #9FA3AC; color: midnightblue; }
.color-p-1 { background-color: #5B71A8; color: white; }
.color-p-3 { background-color: #0A2B7D; color: white; }
.color-p-4 { background-color: #021B59; color: white; }

.color-s1-0 { background-color: #3827A4 ; color: white;}	/* Main Secondary color (1) */
.color-s1-1 { background-color: #A6A4B2; color: midnightblue; }
.color-s1-2 { background-color: #6B60AE ; color: white;}
.color-s1-3 { background-color: #1D0D81 ; color: white;}
.color-s1-4 { background-color: #0E025C ; color: white;}

.color-s2-0 {
    background-color: #187295;
    color: white;
}
.color-s2-1 { background-color: #939EA1 ; color: white;}
.color-s2-2 { background-color: #50889D; color: midnightblue; }
.color-s2-3 { background-color: #045675 ; color: white;}
.color-s2-4 { background-color: #013C53 ; color: white;}

html {
    background-color: midnightblue;
    color: white;
    font-family: 'Open Sans Condensed';
    font-size: 1em;
}
body {
    font-family: 'Open Sans';
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
    color: midnightblue;
    height: 95%;
    min-height: 800px;
    /*    color: #9FA3AC; color: midnightblue */
    background-image: url('../Images/clear-004.jpg');
}
footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(63, 146, 146, 0.89);
    color: white;
}
.home_header {
    background-color: rgba(63, 146, 146, 0.89);
 color: white;
}

.home_container {
     background-color: rgba(49, 82, 174, 0.62);
      color: white;
}

.table {
    background-color: rgba(71, 125, 115, 0.80);
    
     color: white;
}

.table a, a:visited, a:active {
    color: rgb(98, 40, 3);
}
.table a:hover {
    color: white;
}

.form-horizontal {
      background-color: rgba(105, 178, 165, 0.50);
      border-radius: 20px;
      width: 70%;
      padding: 20px;

}
.btn-med-large {
    font-family:'Open Sans Condensed';
    font-size: 3em;
     color: white;
     background-color: rgba(19, 50, 98, 0.44);
}
    .btn-med-large >  a:visited  {
        color: white;

    }
     .btn-med-large >  a  {
        color: white;

    }

.home_panel {
    border-radius: 20px;
    margin: 10px ;
    padding:10px;
    border-color: #A6A4B2;
    background-color: rgba(49, 82, 174, 0.42);
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


li.subnav{
    display : none;
}

li.subnav:hover > ul{
    display : block;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select
 {
    max-width: 400px;
    color: rgba(28, 144, 112, 0.92);
}

textarea {
     max-width: 600px;
     width: 75%;
     min-height: 200px;
     height: auto;

     
}

@media (max-width: 400px) {
    input,
    select, 
    textarea
    {   width: auto;
        display: block;
        max-width: 98%;
    }
}