@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>For almost 20 years we’ve been bringing custom and platform-based solutions to midsized and large companies in Healthcare, Title-claim, Retail, Financial Services and other industries. </p>

<p>With the background rooted in science, we build on our legacy knowledge and grow it dynamically in the areas of Collaboration, CRM, Data Analysis, VoIP and Information Security.
    As part of this journey, we partnered with numerous tech leaders so that our clients can benefit from these high-level networks too.</p>