@{
   
}

<div class="well-sm  home_header " >
    <img src="~/Images/ccss2a.jpg" /><h6>1313 Mockingbird Ln<br />Traverse City, MI 49686</h6>
    <div class="center-block " ><h1>Fluffy CRM</h1></div>
</div>

<div class="container-fluid color-p-0 home_container ">
    <div class="panel  col-sm-6  home_panel">
        <div class="panel-body  ">
            <br /><br /><br /><br /><br />
            <a class="btn color-p-2 col-sm-6" href="./Account/Login" >Log-in</a>
            <br /><br /><br /><br /><br /><br />
        </div>
    </div>
  
</div>
<img src="~/Images/SWATCH.png" />