@{
    ViewBag.Title = "Home Page";
}

<div class="well-sm color-p-2  " >
    <img src="~/Images/ccss2a.jpg" /><h6>1313 Mockingbird Ln<br />Traverse City, MI 49686</h6>
    <div class="center-block " ><h1>Fluffy CRM</h1></div>
</div>

<div class="row">
    
</div>
<img src="~/Images/SWATCH.png" />