@{

}

<div class="well-sm  home_header " >
    <img src="~/Images/ccss2a.jpg" /><h6>1313 Mockingbird Ln<br />Traverse City, MI 49686</h6>
    <div class="center-block " ><h1>Fluffy CRM</h1></div>
</div>

<div class="container-fluid color-p-0 home_container ">
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin") || User.IsInRole("Staff")) {
            @Html.Action("DisplayStaffDashboard")


            <div class="panel  col-sm-3  home_panel">

                <div class="panel-body  ">
                    <br /><br /><br /><br /><br />
                    
                    @Html.ActionLink("Tasks", "Index", "JobTasks",null, new { @class = "btn btn-primary  col-sm-5" })
                    <br /><br /><br /><br /><br /><br />
                </div>
            </div>
        }


    }
    else
    {
    <div class="panel  col-sm-6  home_panel">

        <div class="panel-body  ">
            <br /><br /><br /><br /><br />
            <a class="btn  col-sm-6 btn-med-large " style="color:white;  " href="./Account/Login" >Login</a>
            <br /><br /><br /><br /><br /><br />
        </div>
    </div>
    }
</div>
<img src="~/Images/SWATCH.png" />